{% load static %}
<!DOCTYPE html>
<html lang="en-EN">
<head>
  <title>Personal Block</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
  <header>
    <nav>
      <ul>
         <!-- <li><a href='/admin'>Войти в админ панель</a></li> -->
         <!-- <li><a href='/portfolio'>Портфолио</a></li> -->
         <!--<li><a href='/register'>Регистрация</a></li>-->
         <!--<li><a href='/login'>Войти</a></li>-->
      </ul>
    </nav>
  </header>

  <main>
    {% block content %}
        <li><a href='/portfolio'>Портфолио</a></li>
        <li><a href='/login'>Войти</a></li>
    {% endblock %}
  </main>
</body>
</html>